html  {

    box-sizing: border-box;
    height: auto;
    width: auto;
    font-size: 10px;


}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    height: 100%;
    width: 100%;
    max-width: 1920px;

}


.bar-container {

    height: 30px;
    width: auto;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}

.bar-container button{

margin: 0;
padding: 0;
background-color:transparent;
border: 0px;


}
.bar-container svg {

margin-right: 1.86rem;

}

.bar-container a {

    text-decoration: none;
    color: white;
}

.material-icons {

    rotate: 45;
}

nav {

    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100%;
    margin: 0px;

}

.list-container {

display: flex;
align-items: center;

}
.nav-container {

    display: flex;
    justify-content: space-around;
    align-items: center

}

.nav-container ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10rem;
    
    
    
}

.nav-container li {

    float: left;
    font-size: 1.8rem;
    font-weight: 700, bold;
    margin-right: 1.6rem;
    margin-left: 1.6rem;
    
}


.nav-container a {

    font-size: 112.5%;
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.nav-container svg {

display: none;

} 

.nav-container :hover {

    text-decoration: underline;
}


/**************************************MAIN**********************************/

.menu-container {

width: 100%;
height: 800px;
border: 100px;



}

.image-container {
    margin-top: 0px;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 64px solid #f5f5f5;


}

main h3 {

    margin-top: 0px;
}

.text-box {
    
    width: 33.25%;
    max-width: 532px;
    height: 45.40%;
    max-height: 311px;
    background-color: white;
    left: 2.5%;
    position: absolute;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.56);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    

}

.text-box h1 {
    position: absolute;
    left: 10.15%;
    top: 20.57%;
    font-size: 4rem;
}

.text-box h3 {

    position: absolute;
    left: 10.15%;
    top: 20.57%;
    font-size: 1.2rem;
    text-transform: uppercase;
    
}

.text-box p {

    position: absolute;
    left: 10.15%;
    width: 90%;
    max-width: 419px;
    top: 56.5916398713%;
    font-size: 1.6rem;


}

.text-box a {

    position: absolute;
    left: 10.15%; 
    bottom: 7.51%;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 700;


}

.text-item4 svg {

margin-left: 10px;

}




/************************************** SECOND PAGE **********************************/




.second-page {

    width: 100%;
    height: 800px;
    display: flex;
    border-bottom: 64px solid #f5f5f5;


}

.image-box {

    width: 100%;
    height: 100%;

}

.text-area {

    width: 100%;
    height: 100%;
    


}

.title1 {

margin-top: 24.1rem;
margin-left: 8.1rem;
font-size: 1.2rem;
text-transform: uppercase;
margin-bottom: 1.2rem;
font-weight: 500;
}


.title2 {

margin-left: 8.1rem;
font-size: 3.2rem;
margin-top: 0px;

}


.second-page .text-area p {

    position: relative;
    margin-left: 8.1rem;
    margin-top: 0px;
    font-size: 1.6rem;
    width: 79.75%;
    margin-bottom: 0px;


}

.discover {

    position: relative;
    margin-left: 8.1rem;
    margin-top: 3.2rem;
    width: 16.929rem;
    height: 4.8rem;
    background-color: rgb(0, 0, 0);
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 11px;
    color: #f5f5f5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
}




/************************************** THIRD PAGE **********************************/




.third-page {

    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 64px solid #f5f5f5 ;
    
    
    }

.image-box {

    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1610523751953-f0921cb46366?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=673&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    }
    
.image-item2 {
    
    width: 100%;
    height: 100%;
    
    }
    
    .text-area--replace {

    width: 100%;
    height: 100%;
        
    
    
    }
    
    .title1--replace {
    
    margin-top: 24.1rem;
    margin-left: 8.1rem;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
    }
    
    
    .title2--replace {
    
    margin-left: 8.1rem;
    font-size: 3.2rem;
    margin-top: 0px;
    
    }
    
    
    .third-page .text-area--replace p {
    
        position: relative;
        margin-left: 8.1rem;
        margin-top: 0px;
        font-size: 1.6rem;
        width: 79.75%;
        margin-bottom: 0px;
    
    
    }
    
    .discover--replace {
    
        position: relative;
        margin-left: 8.1rem;
        margin-top: 3.2rem;
        width: 16.929rem;
        height: 4.8rem;
        background-color: rgb(0, 0, 0);
        display: flex; 
        align-items: center;
        justify-content: center;
        gap: 11px;
        color: #f5f5f5;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.4rem;
    }


/*****************************************FOOTER*****************************************/




.box-icon {

    width: 100%;    
    height: 160px ;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 8.2rem;

    }

.icon {
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.icon h3 {

    position: relative;
    width: 16.8rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    height: 3.8rem;
    


}

/******************************** FOOTER-GRID****************************/

.footer-box {

    height: 45.8rem;
    width: 100%;   
    display: grid;
    grid-template-columns: 50% 25% 25%;
    background-color: #ffffff;
   

    }

.box {

    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
    position: relative;

}
.box h3 {

font-weight: 700;    
}

.text-email {

    width: 44rem;
    font-size: 2.4rem;
    margin-left:18rem;
    margin-top: 8.2rem;
    margin-bottom: 0px;
    text-align: start;
}

.box .send {

    position: absolute;
    text-transform: uppercase;
    left: 0px;
    font-size: 1.6rem;
    width: 12rem;
    height: 4.8rem;
    background-color: #9d9d9d;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    margin-left: 51.2rem;
    margin-top: 4.7rem;
    border: 0px;
    

}

.box input {

    width: 31.7rem;
    border-color: #9d9d9d;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid;
    position: absolute;
    margin-top: 7.7rem;


}

.box form {

    position: absolute;  
    margin-left: 18rem;  
}

.box p {

    font-size: 1rem;
    width: 45.2rem;
    height: 4.8rem;
    color: #9d9d9d;
    text-justify: distribute;
    margin-left: 18rem;
    margin-top: 13.6rem;
    text-align: start;
}

/************************************************SECOND BOX****************************************/



.help {

    list-style: none;
    text-align: left;
    align-self: center;
    font-size: 1.6rem;
    margin-top: 8.2rem;
    padding: 0px;
    margin-left: 10.8rem;
    

}



.help li {

    margin-top: 1.6rem;
    font-weight: 400;
    font-weight: 1.6rem;


}

.help li:first-child {

    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-right: 2rem;




}

.help li a {

text-decoration: none;
color: black;

}

.help li a:hover {

    text-decoration: underline;
    color: black;
    
    }

.icon-list {

    display: flex;
    gap: 1.7rem ;
    margin-left: -3.8rem;


}

.cross {

display: none;

}

/************************************************THIRD BOX****************************************/



.help--replace {

    list-style: none;
    text-align: left;
    align-self: center;
    font-size: 1.6rem;
    margin-top: 8.2rem;
    padding: 0px;
    margin-left: 10.8rem;
    

}



.help--replace li {

    margin-top: 1.6rem;
    font-weight: 400;


}

.help--replace li:first-child {

    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-right: 2rem;

}

.help--replace li a {

    text-decoration: none;
    color: black;
    
    }
    
.help--replace li a:hover {
    
    text-decoration: underline;
        color: black;
        
        }

.icon-list--replace {

    display: flex;
    gap: 1.8rem ;
    margin-left: -3.8rem;


}

.social {

text-transform: uppercase;
margin-left: 61rem;
margin-right: 2.8rem;
width: auto;
display: inline-block;
margin-bottom: 4.1rem;



}

.social h3 {
display: inline;
margin-right: 2.8rem;
height: auto;
font-size: 1.6rem;
font-weight: 800;
position: relative;
bottom: 2.5px;

}


.social a {

width: auto;
text-decoration: none;
margin: 0px;
display: inline;


}

.social-icon {

width: auto;
display: inline-flex;
gap: 3.1rem;
align-items: center;


}

.bottom-bar {

background-color: black;
width: 100%;
height: 4.8rem;
display: inline-flex;
color: #ffffff;
align-items: center;
justify-content: center;
gap: 0.8rem;
}


.modal {
    display: none;
}

.modal.is-open {

    display: block;
}



/***************************** Mobile Device ********************/

@media only screen and (max-width: 1023px) {
    
    html  {

        box-sizing: border-box;
        
        }

    body {
        
        font-family: 'Roboto', sans-serif;
        margin: 0px;
        height: 100%;
        width: 100%;
        max-width: 1023px;
        box-sizing: border-box;
        
    }

    .bar-container {


        height: 32px;
        width: 100%;
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 5px;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        padding: 0px;

    }

    nav {

        background-color: rgb(255, 255, 255);
        height: 6.5rem;
        width: 100%;
        margin: 0px;
        position: relative;

    }

    .nav-container {

        display: flex;
        justify-content: space-around;
        align-items: center

    }

    .nav-container ul {

        width: 100px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        left: 0px;
        display: flex;
        flex-direction: row; 
    
    
        
        
        
    }

    .nav-container li {

        float: left;
        font-size: 1.8rem;
        font-weight: 700, bold;
        position: relative;
        margin-left: 0px;

        
    }

    .list-container {

    display: flex;
    margin: 0px;
    align-items: center;

    }


    .nav-container svg {
        position: relative;
        display: inline-block;
        
        }

    .nav-item1 {

        display: none;
    }

    .nav-item2 {

        display: none;

    }

    .nav-icon1 {

    margin-left:2.8rem ;
    }



    /****************************MAIN PAGE*************************/




    main .menu-container {

        height: 100%;
        width: 100%;
        background-color: #f5f5f5;
        display: flex;

    }


    .image-container {
            
        width: 100%;
        height: 53.7rem;
        margin: 0px;
        padding: 0px;
            
    }

    .text-box {

        width: 100%;
        max-width: 1023px;
        height: 16rem;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        left: 0px;
        bottom: 0px;
        border: 0px;
        box-shadow: 0px;
        backdrop-filter: 0px;
        -webkit-backdrop-filter: 0px;
        transform: translate(0px, 3px); /********** Usato per correggere il bug di un pixe ***************/
            
    }

    .text-box h1 {
        
        position: relative;
        margin: 0px;
        top: 0px;

    }
        
    .text-box h3 {

        position: relative;
        margin: 0px;
        top: 0px;
            
                
    }   
        
    .text-box a {
        
        position: relative;
        margin: 0px;
        bottom: 0px;
    }

    .text-box p {

        display: none;
    }




    /****************************SECOND PAGE*************************/




    .second-page {

        display: flex;
        flex-direction: column;
        width: 100%;
        height: 81.1rem;

    }

    .image-box {

        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .text-area {

        width: 100%;
        height: 100%;


    }

    .title1 {

        margin:0px;
        padding: 0px;
        font-size: 1.2rem;
        position: relative;
        margin: 3.2rem 0px 0px 2.4rem;
        text-transform: uppercase;
        }
        
        
    .title2 {
        position: relative;
        margin: 0.8rem 0px 0px 2.4rem;
        padding: 0px;
        font-size: 3.2rem;
        
        }
        
    .second-page .text-area p {

        position: relative;
        margin-left: 0px;
        margin: 2.4rem 0px 0px 2.4rem ;
        font-size: 1.6rem;
        width: 79.75%;
        margin-bottom: 0px;

        }

    .discover {

        position: relative;
        margin-left: 2.4rem;
        margin-top: 2.4rem;
        width: 16.929rem;
        height: 4.8rem;
        background-color: rgb(0, 0, 0);
        display: flex; 
        align-items: center;
        justify-content: center;
        gap: 11px;
        color: #f5f5f5;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.4rem;
        }





    /****************************THIRD PAGE*************************/





    .third-page {

        display: flex;
        flex-direction: column;
        width: 100%;
        height: 81.1rem;
            
            }
            
    .image-box--replace {
            
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
            
            }
            
    .text-area--replace {
            
        width: 100%;
        height: 100%;
            
            }
            
    .title1--replace {
            
        margin:0px;
        padding: 0px;
        font-size: 1.2rem;
        position: relative;
        margin: 3.2rem 0px 0px 2.4rem;
        text-transform: uppercase;
            }
                
                
    .title2--replace {

        position: relative;
        margin: 0.8rem 0px 0px 2.4rem;
        padding: 0px;
        font-size: 3.2rem;
                
            }
                
    .third-page .text-area--replace p {
            
        position: relative;
        margin-left: 0px;
        margin: 2.4rem 0px 0px 2.4rem ;
        font-size: 1.6rem;
        width: 79.75%;
        margin-bottom: 0px;
            
            }
            
    .discover--replace {
            
        position: relative;
        margin-left: 2.4rem;
        margin-top: 2.4rem;
        width: 16.929rem;
        height: 4.8rem;
        background-color: rgb(0, 0, 0);
        display: flex; 
        align-items: center;
        justify-content: center;
        gap: 11px;
        color: #f5f5f5;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.4rem;
                }


    /****************************FOOTER************************/
    
    .footer-box {

        grid-template-columns: 100%;
        grid-template-rows: 82.320442% 8.93854749% 8.93854749%;
        height: 53.7rem;
    
    }

    .box-icon {

    max-width: 1023px;
    width: 100%;
    overflow-x: scroll;
    }


    .send {

    width: 2.4rem;
    display: inline-block;
    }
        
    .text-email {

    margin-left: 2.8rem;
    margin-top: 4rem;
    width: 32.7rem;

    }

    .box .send {

    display: block;
    margin-top: 14.1rem;
    margin-left: 2.8rem;




    }


    .box form {

    margin-left: 2.8rem;


    }

    

    .box1 {
        
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #f5f5f5;
        border-bottom: 1px solid #bfbfbf ;
        border-top: 1px solid #bfbfbf ;;

    }

    .box p {

            font-size: 1rem;
            width: 32.7rem;
            height: 4.8rem;
            color: #9d9d9d;
            text-justify: distribute;
            margin-left: 2.8rem;
            margin-top: 17.2rem;
            text-align: start;
    }

    .help {

        margin-top: 0px;
        position: relative;
        left: 0px;
        margin-left: 0px;
        display: flex;
        align-items: center;
        

    }

    .help li {

        display: none;

    }

    .help li:first-child {

        display: inline;

    }

    .icon-list {

        margin-left: 2.6rem;
        display: flex;

    }

    .icon-list svg {

        margin-right: 1.6rem;
        

    }


    .cross {

        display: inline;
        position: absolute;
        right: 1.4rem;
        border: none;
        background-color: transparent;

        
        }

    
    .box2 {

        width: 100%;
        display: flex;
        align-items: center;
        background-color: #f5f5f5;
        border-bottom: 1px solid #bfbfbf ;
    
    }
    
    .help--replace {

        margin-top: 0px;
        left: 0px;
        margin-left: 0px;

    }

    .help--replace li {

        display: none;
        

    }
    
    .help--replace li:first-child {

        display: inline-block;
        

    }

    .icon-list--replace {

        margin-left: 2.6rem;
        display: flex;
        gap: 1.8rem;
    }

    .icon-list--replace svg {

        margin-right: 1.6rem;

    }
    
    .social {

        
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        


    }

    .social h3 {
        padding-top: 2.4rem;
        display: inline;
        text-align: center;
        width: 100%;


    }

    .social a {

        width: auto;
        margin-right: 0rem;
        
        
    }

    .social-icon {
        
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4.1rem;
        border-bottom: #ffffff 9.1rem solid;
       

    }

    .social a:first-child{

    margin-left: 0rem;
            
    }
        
    

    .bottom-bar {
        width: 100%;
        height: 11rem;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }


    .bottom-text1 {

        font-size: 1rem;
        color: #f5f5f5;


    }

    .bottom-text2, .bottom-text3,
    .bottom-text4 {

        display: none;
    }
}



