/************Mobile Variable*******************/
html {
  box-sizing: border-box;
  height: auto;
  width: auto;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  max-width: 1920px;
}

.bar-container {
  height: 30px;
  width: auto;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.bar-container button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0px;
}

.bar-container svg {
  margin-right: 1.86rem;
}

.bar-container a {
  text-decoration: none;
  color: white;
}

.material-icons {
  rotate: 45;
}

nav {
  background-color: rgb(255, 255, 255);
  height: 100px;
  width: 100%;
  margin: 0px;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-container {
  display: flex;
  align-items: center;
}
.list-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 10rem;
}
.list-container li {
  float: left;
  font-size: 1.8rem;
  font-weight: 500;
  margin-right: 1.6rem;
  margin-left: 1.6rem;
}
.list-container a {
  font-size: 112.5%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.list-container svg {
  display: none;
}
.list-container:hover {
  text-decoration: underline;
}

@media screen and (max-width: 797px) {
  .bar-container {
    height: 32px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0px;
  }

  nav {
    background-color: rgb(255, 255, 255);
    height: 6.5rem;
    width: 100%;
    margin: 0px;
    position: relative;
  }

  .list-container {
    display: flex;
    margin: 0px;
    align-items: center;
  }

  .nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav-container ul {
    width: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 0px;
    display: flex;
    flex-direction: row;
  }
  .nav-container li {
    float: left;
    font-size: 1.8rem;
    font-weight: 700, bold;
    position: relative;
    margin-left: 0px;
  }
  .nav-container svg {
    position: relative;
    display: inline-block;
  }

  .nav-item1 {
    display: none;
  }

  .nav-item2 {
    display: none;
  }

  .nav-icon1 {
    margin-left: 2.8rem;
  }
}
.title {
  width: 100%;
  height: 162px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h4 {
  font-size: 4rem;
  font-weight: 400;
}

a {
  color: black;
}

.filters-bar {
  width: 100%;
  height: 70px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filters-bar .btn--active {
  fill: black;
}
.filters-bar button {
  border: 0px;
  background-color: transparent;
  padding: 0px;
}
.filters-bar p {
  font-size: 1.4rem;
  color: #9d9d9d;
  font-weight: 700;
  margin-right: 4.3rem;
}
.filters-bar .product-view {
  display: flex;
  border: 0px;
  background-color: transparent;
  gap: 1.2rem;
  margin-left: 4.2rem;
}

@media screen and (max-width: 797px) {
  .title {
    font-size: 3.8rem;
    justify-content: start;
    margin-left: 2.4rem;
    width: auto;
    height: 8.6rem;
  }
}
.grid-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  width: 100%;
  border-bottom: 64px solid #f5f5f5;
}
.grid-product .product-item-col-6 {
  display: none;
}

.grid-product.grid-product-6-col {
  grid-template-columns: repeat(6, 1fr);
}
.grid-product.grid-product-6-col button {
  display: none;
}
.grid-product.grid-product-6-col .product-item-col-6 {
  display: block;
  background-color: #f5f5f5;
}
.grid-product.grid-product-6-col span, .grid-product.grid-product-6-col h5, .grid-product.grid-product-6-col h4, .grid-product.grid-product-6-col h3, .grid-product.grid-product-6-col h2, .grid-product.grid-product-6-col h1, .grid-product.grid-product-6-col p {
  display: none;
}

@media screen and (max-width: 797px) {
  .grid-product {
    grid-template-columns: 1fr 1fr;
  }
}
.product-item {
  width: 100%;
  height: 57.6rem;
  background-color: #f5f5f5;
  position: relative;
}
.product-item h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0px 0px 0px 0px;
  padding-left: 1.6rem;
  padding-top: 3.5rem;
}
.product-item h4 {
  font-weight: 400;
  padding-left: 1.6rem;
  padding-top: 0.4rem;
  margin: 0px;
}
.product-item p {
  display: inline-block;
  padding-left: 1.6rem;
  margin-top: 4.6rem;
  font-weight: 700;
  font-size: 1.4rem;
}
.product-item .old-price {
  font-size: 1.2rem;
  text-decoration: line-through;
  font-weight: 400;
  padding-left: 0.8rem;
}
.product-item .add-to-cart {
  display: none;
}
.product-item .button-cart {
  display: none;
}

@media screen and (max-width: 797px) {
  .product-item {
    width: auto;
    height: 35rem;
    display: flex;
    flex-direction: column;
  }
  .product-item .desktop-price {
    display: none;
  }
  .product-item .button-cart {
    width: 17.1rem;
    height: 4rem;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    border: 0px;
    background-color: transparent;
    background-color: #ffffff;
  }
  .product-item .button-cart p {
    margin: 0px;
    padding: 0px;
    padding-left: 0.8rem;
    letter-spacing: -0.5px;
  }
  .product-item .button-cart .old-price {
    margin: 0px;
    padding: 0px;
  }
  .product-item .button-cart .add-to-cart {
    display: inline;
    margin-left: 3rem;
  }
}
.product-image {
  width: auto;
  height: 39.8rem;
  background-image: url(https://images.unsplash.com/photo-1601004890684-d8cbf643f5f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.product-image svg {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  width: 5.0251256281%;
  height: 5.0251256281%;
  max-width: 2rem;
  max-height: 2rem;
  min-width: 13.33px;
  min-height: 13.41px;
}
.product-image .new-product {
  position: absolute;
  top: 2.1rem;
  left: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px;
  font-size: 1rem;
}
.product-image .quantity {
  position: absolute;
  bottom: 2.3rem;
  left: 1.8rem;
  margin: 0px;
  font-size: 1rem;
  padding: 0px;
}

@media screen and (max-width: 797px) {
  .product-image {
    width: auto;
    height: 18.7rem;
    gap: 1px;
  }
  .product-image .new-product {
    background-color: #ffffff;
    padding: 0 4px;
  }
  .product-image .quantity {
    background-color: #ffffff;
    padding: 0 4px;
  }
}
.box-icon {
  width: 100%;
  height: 160px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 8.2rem;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon h3 {
  position: relative;
  width: 16.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  height: 3.8rem;
}

.footer-box {
  height: 45.8rem;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  background-color: #ffffff;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  position: relative;
}
.box h3 {
  font-weight: 700;
}
.box .send {
  position: absolute;
  text-transform: uppercase;
  left: 0px;
  font-size: 1.6rem;
  width: 12rem;
  height: 4.8rem;
  background-color: #9d9d9d;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  margin-left: 51.2rem;
  margin-top: 4.7rem;
  border: 0px;
}
.box input {
  width: 31.7rem;
  border-color: #9d9d9d;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid;
  position: absolute;
  margin-top: 7.7rem;
}
.box form {
  position: absolute;
  margin-left: 18rem;
}
.box p {
  font-size: 1rem;
  width: 45.2rem;
  height: 4.8rem;
  color: #9d9d9d;
  text-justify: distribute;
  margin-left: 18rem;
  margin-top: 13.6rem;
  text-align: start;
}

.text-email {
  width: 44rem;
  font-size: 2.4rem;
  margin-left: 18rem;
  margin-top: 8.2rem;
  margin-bottom: 0px;
  text-align: start;
}

/************************************************SECOND BOX****************************************/
.help {
  list-style: none;
  text-align: left;
  align-self: center;
  font-size: 1.6rem;
  margin-top: 8.2rem;
  padding: 0px;
  margin-left: 10.8rem;
}
.help li {
  margin-top: 1.6rem;
  font-weight: 400;
  font-weight: 1.6rem;
}
.help li:first-child {
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
}
.help li a {
  text-decoration: none;
  color: black;
}
.help li a:hover {
  text-decoration: underline;
  color: black;
}

.icon-list {
  display: flex;
  gap: 1.7rem;
  margin-left: -3.8rem;
}

.cross {
  display: none;
}

/************************************************THIRD BOX****************************************/
.help--replace {
  list-style: none;
  text-align: left;
  align-self: center;
  font-size: 1.6rem;
  margin-top: 8.2rem;
  padding: 0px;
  margin-left: 10.8rem;
}

.help--replace li {
  margin-top: 1.6rem;
  font-weight: 400;
}

.help--replace li:first-child {
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
}

.help--replace li a {
  text-decoration: none;
  color: black;
}

.help--replace li a:hover {
  text-decoration: underline;
  color: black;
}

.icon-list--replace {
  display: flex;
  gap: 1.8rem;
  margin-left: -3.8rem;
}

.social {
  text-transform: uppercase;
  margin-left: 61rem;
  margin-right: 2.8rem;
  width: auto;
  display: inline-block;
  margin-bottom: 4.1rem;
}

.social h3 {
  display: inline;
  margin-right: 2.8rem;
  height: auto;
  font-size: 1.6rem;
  font-weight: 800;
  position: relative;
  bottom: 2.5px;
}

.social a {
  width: auto;
  text-decoration: none;
  margin: 0px;
  display: inline;
}

.social-icon {
  width: auto;
  display: inline-flex;
  gap: 3.1rem;
  align-items: center;
}

.bottom-bar {
  background-color: black;
  width: 100%;
  height: 4.8rem;
  display: inline-flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

/************************** Mobile ******************/
@media screen and (max-width: 797px) {
  .footer-box {
    grid-template-columns: 100%;
    grid-template-rows: 82.320442% 8.93854749% 8.93854749%;
    height: 53.7rem;
  }

  .box-icon {
    max-width: 1023px;
    width: 100%;
    overflow-x: scroll;
  }

  .send {
    width: 2.4rem;
    display: inline-block;
  }

  .text-email {
    margin-left: 2.8rem;
    margin-top: 4rem;
    width: 32.7rem;
  }

  .box .send {
    display: block;
    margin-top: 14.1rem;
    margin-left: 2.8rem;
  }

  .box form {
    margin-left: 2.8rem;
  }

  .box1 {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
  }

  .box p {
    font-size: 1rem;
    width: 32.7rem;
    height: 4.8rem;
    color: #9d9d9d;
    text-justify: distribute;
    margin-left: 2.8rem;
    margin-top: 17.2rem;
    text-align: start;
  }

  .help {
    margin-top: 0px;
    position: relative;
    left: 0px;
    margin-left: 0px;
    display: flex;
    align-items: center;
  }

  .help li {
    display: none;
  }

  .help li:first-child {
    display: inline;
  }

  .icon-list {
    margin-left: 2.6rem;
    display: flex;
  }

  .icon-list svg {
    margin-right: 1.6rem;
  }

  .cross {
    display: inline;
    position: absolute;
    right: 1.4rem;
    border: none;
    background-color: transparent;
  }

  .box2 {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid #bfbfbf;
  }

  .help--replace {
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
  }

  .help--replace li {
    display: none;
  }

  .help--replace li:first-child {
    display: inline-block;
  }

  .icon-list--replace {
    margin-left: 2.6rem;
    display: flex;
    gap: 1.8rem;
  }

  .icon-list--replace svg {
    margin-right: 1.6rem;
  }

  .social {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }

  .social h3 {
    padding-top: 2.4rem;
    display: inline;
    text-align: center;
    width: 100%;
  }

  .social a {
    width: auto;
    margin-right: 0rem;
  }

  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.1rem;
    border-bottom: #ffffff 9.1rem solid;
  }

  .social a:first-child {
    margin-left: 0rem;
  }

  .bottom-bar {
    width: 100%;
    height: 11rem;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .bottom-text1 {
    font-size: 1rem;
    color: #f5f5f5;
  }

  .bottom-text2, .bottom-text3,
.bottom-text4 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
