
.accordion-box {
    margin-top: 4rem;
    margin-bottom: 8rem;
}

.accordion-body {
    display: block;
    background-color: #f5f5f5;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 90.3rem;
    height: 4.8rem;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-left: 8.1rem;
    font-weight: $big-weight;
    font-size: $default-font;
    border-bottom: 1px solid #e5e5e5;

    
}

  

  .active, .accordion-body:hover {
    background-color: #ccc;
  }
  

  .panel {
    
    background-color: white;
    display: none;
    overflow: hidden;
    font-size: $default-font;
    font-weight: $small-weight;
    margin-left: 8.1rem;
    width: 90.3rem;

    p {
        margin: 2.4rem 2.4rem 3.2rem 2.4rem;
    }
  }

  .accordion-body:after {
    content: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.5 9.08252H20.5V11.0825H11.5V20.0825H9.5V11.0825H0.5V9.08252H9.5V0.0825195H11.5V9.08252Z' fill='black'/%3E%3C/svg%3E ");
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: url("data:image/svg+xml,%3Csvg width='21' height='3' viewBox='0 0 21 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.5 0.0825195V2.08252H0.5V0.0825195H20.5Z' fill='black'/%3E%3C/svg%3E ");
  }

  @media screen and (max-width: 797px) {



    .accordion-body {
        width: 100%;
        margin-left: 0px;
    }
    .panel {
        width: 100%;
        margin-left: 0px;
        line-height: 24px;
    }

}
  