.menu-bar{
    width: auto;
    height: 7.2rem;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    svg{

        margin-left: 2.1rem;
        margin-right: 1.9rem;
    }
    span {
        font-size: $small-font;
        font-weight: $big-weight;

        a {
            @include black-link;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}



