.product-grid {
    display: inline-grid;
    grid-template-columns: 53.1rem 53.1rem;
    grid-template-rows: 53.1rem 53.1rem;
    gap: 2px;
    width: auto;
    float: left;

.element-grid {
    width: 53.1rem;
    height: 53.1rem;
    overflow: hidden;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

}

.product-price {
    display: inline-block;
    height: 106.4rem;
    width: auto;
    
    
    .product {
        padding-left: $left-padding-product;
        font-size: $product-name;
        font-weight: $big-weight;
        margin: 0.75rem 0;
        display: block;
    }

    .description  {
        padding-left: $left-padding-product;
        display: block;
        font-size: $default-font;
    }
    .price  {
        padding-left: $left-padding-product;
        padding-top: 3rem;
        display: block;
        
    }

    .new-price {
        font-size: 2rem;
        font-weight: $big-weight;
        
    }

    .discount {
        font-size: $default-font;
        font-weight: $big-weight;
        margin-right: 0.3rem;
    }

    .old-price {
        font-size: $default-font;
        font-weight: $small-weight;
        text-decoration: line-through;
    }
}

.buttons {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding-left: 4.2rem;
    padding-top: 5rem;

    button {
        padding: 0px;
    }

    .cart-icon {
        padding-right: 2.3rem;
    }
}

.add-to-cart {

width: 38.5rem;
height: 6.4rem;
background-color: black;
display: inline-flex;
color: white;
align-items: center;
justify-content: space-between;
font-size: $medium-font;
font-weight: $big-weight;
border: 0px;

.cart-font {
    padding-left: 1.6rem;
}

}

.wishlist {
    width: 6.4rem;
    height: 6.4rem;
    background-color: black;
    display: inline-flex;
    border: 0px;
    align-items: center;
    justify-content: center;
    
}



.product-place-mobile {
    display: none;
}

.product-price-mobile {
    display: none;
}


@media screen and (max-width: 767px) {

.product-place {
    display: none;
}

.menu-bar {
    display: none;
}

.product-place-mobile {

    display: block;
    

    img {
        
        height: 100%; 
        width: 100%;
        object-fit: cover;

    }
}


.add-to-cart-mobile {
    width: 32.8rem;
    height: 6.5rem;
    background-color: black;
    display: inline-flex;
    color: white;
    @include flex-center;
    gap: 1rem;
    border: 0px;
    position: relative;
    

}

.wishlist {
    display: none;
}


.product-price-mobile {
    width: 100%;
    height: auto;
    display: block;
    


    .add-to-cart-mobile {
        margin: 0 auto;
        

    }

    .product-mobile {
        font-size: $default-font;
        font-weight: $big-weight;
        padding-left: $left-padding-product-mobile;
        margin-bottom: 0px;
    }
    .description-mobile {
        font-size: $product-font;
        font-weight: $small-font;
        padding-left: $left-padding-product-mobile;
        display: block;
    }

    .price-mobile {
        padding-top: 2.4rem;
        display: block;
        padding-right: 0.3rem;
    
    .new-price-mobile {
        font-size: 2rem;
        font-weight: $big-weight;
        padding-left: $left-padding-product-mobile;
    }

    .discount-mobile {
        font-size: $default-font;
        font-weight: $small-weight;
        padding-right: 0.3rem;
    }

    .old-price-mobile {
        font-size: $default-font;
        font-weight: $small-weight;
        text-decoration: line-through;
    }

}
}

.centered-button {
    display: block;
    margin-left: 2.4rem;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
}
}

