$extra-small-font:1rem;
$small-font:1.2rem;
$default-font:1.6rem;
$medium-font:1.8rem;
$product-font:1.4rem;
$product-name:2.4rem;
$big-font:4.0rem;

$small-weight:400;
$medium-weight:500;
$big-weight:700;
$extra-weight:800;

$left-padding-items:1.6rem;
$left-padding-product:4.2rem;



/************Mobile Variable*******************/

$mobile-title:3.8rem;