@charset "UTF-8";
/************Mobile Variable*******************/
html {
  box-sizing: border-box;
  height: auto;
  width: auto;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  max-width: 1920px;
  font-family: "Roboto", sans-serif;
}

.bar-container {
  height: 30px;
  width: auto;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.bar-container button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0px;
}

.bar-container svg {
  margin-right: 1.86rem;
}

.bar-container a {
  text-decoration: none;
  color: white;
}

.material-icons {
  rotate: 45;
}

nav {
  background-color: rgb(255, 255, 255);
  height: 100px;
  width: 100%;
  margin: 0px;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-container {
  display: flex;
  align-items: center;
}
.list-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 10rem;
}
.list-container li {
  float: left;
  font-size: 1.8rem;
  font-weight: 500;
  margin-right: 1.6rem;
  margin-left: 1.6rem;
}
.list-container a {
  font-size: 112.5%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.list-container svg {
  display: none;
}
.list-container:hover {
  text-decoration: underline;
}

@media screen and (max-width: 797px) {
  .bar-container {
    height: 32px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0px;
  }

  nav {
    background-color: rgb(255, 255, 255);
    height: 6.5rem;
    width: 100%;
    margin: 0px;
    position: relative;
  }

  .list-container {
    display: flex;
    margin: 0px;
    align-items: center;
  }

  .nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav-container ul {
    width: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 0px;
    display: flex;
    flex-direction: row;
  }
  .nav-container li {
    float: left;
    font-size: 1.8rem;
    font-weight: 700, bold;
    position: relative;
    margin-left: 0px;
  }
  .nav-container svg {
    position: relative;
    display: inline-block;
  }

  .nav-item1 {
    display: none;
  }

  .nav-item2 {
    display: none;
  }

  .nav-icon1 {
    margin-left: 2.8rem;
  }
}
.menu-bar {
  width: auto;
  height: 7.2rem;
  background-color: #fefefe;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.menu-bar svg {
  margin-left: 2.1rem;
  margin-right: 1.9rem;
}
.menu-bar span {
  font-size: 1.2rem;
  font-weight: 700;
}
.menu-bar span a {
  color: black;
  text-decoration: none;
}
.menu-bar span a:hover {
  text-decoration: underline;
}

.swiper {
  aspect-ratio: 1/1;
  width: 100%;
  min-height: 37.5rem;
}

swiper-wrapper img {
  width: 100%;
  object-fit: cover;
}

.product-grid {
  display: inline-grid;
  grid-template-columns: 53.1rem 53.1rem;
  grid-template-rows: 53.1rem 53.1rem;
  gap: 2px;
  width: auto;
  float: left;
}
.product-grid .element-grid {
  width: 53.1rem;
  height: 53.1rem;
  overflow: hidden;
}

.product-price {
  display: inline-block;
  height: 106.4rem;
  width: auto;
}
.product-price .product {
  padding-left: 4.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0.75rem 0;
  display: block;
}
.product-price .description {
  padding-left: 4.2rem;
  display: block;
  font-size: 1.6rem;
}
.product-price .price {
  padding-left: 4.2rem;
  padding-top: 3rem;
  display: block;
}
.product-price .new-price {
  font-size: 2rem;
  font-weight: 700;
}
.product-price .discount {
  font-size: 1.6rem;
  font-weight: 700;
  margin-right: 0.3rem;
}
.product-price .old-price {
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: line-through;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding-left: 4.2rem;
  padding-top: 5rem;
}
.buttons button {
  padding: 0px;
}
.buttons .cart-icon {
  padding-right: 2.3rem;
}

.add-to-cart {
  width: 38.5rem;
  height: 6.4rem;
  background-color: black;
  display: inline-flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 700;
  border: 0px;
}
.add-to-cart .cart-font {
  padding-left: 1.6rem;
}

.wishlist {
  width: 6.4rem;
  height: 6.4rem;
  background-color: black;
  display: inline-flex;
  border: 0px;
  align-items: center;
  justify-content: center;
}

.product-place-mobile {
  display: none;
}

.product-price-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .product-place {
    display: none;
  }

  .menu-bar {
    display: none;
  }

  .product-place-mobile {
    display: block;
  }
  .product-place-mobile img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .add-to-cart-mobile {
    width: 32.8rem;
    height: 6.5rem;
    background-color: black;
    display: inline-flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 0px;
    position: relative;
  }

  .wishlist {
    display: none;
  }

  .product-price-mobile {
    width: 100%;
    height: auto;
    display: block;
  }
  .product-price-mobile .add-to-cart-mobile {
    margin: 0 auto;
  }
  .product-price-mobile .product-mobile {
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 2.4rem;
    margin-bottom: 0px;
  }
  .product-price-mobile .description-mobile {
    font-size: 1.4rem;
    font-weight: 1.2rem;
    padding-left: 2.4rem;
    display: block;
  }
  .product-price-mobile .price-mobile {
    padding-top: 2.4rem;
    display: block;
    padding-right: 0.3rem;
  }
  .product-price-mobile .price-mobile .new-price-mobile {
    font-size: 2rem;
    font-weight: 700;
    padding-left: 2.4rem;
  }
  .product-price-mobile .price-mobile .discount-mobile {
    font-size: 1.6rem;
    font-weight: 400;
    padding-right: 0.3rem;
  }
  .product-price-mobile .price-mobile .old-price-mobile {
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: line-through;
  }

  .centered-button {
    display: block;
    margin-left: 2.4rem;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
  }
}
.accordion-box {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.accordion-body {
  display: block;
  background-color: #f5f5f5;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 90.3rem;
  height: 4.8rem;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-left: 8.1rem;
  font-weight: 700;
  font-size: 1.6rem;
  border-bottom: 1px solid #e5e5e5;
}

.active, .accordion-body:hover {
  background-color: #ccc;
}

.panel {
  background-color: white;
  display: none;
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 8.1rem;
  width: 90.3rem;
}
.panel p {
  margin: 2.4rem 2.4rem 3.2rem 2.4rem;
}

.accordion-body:after {
  content: "➕";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "➖";
  /* Unicode character for "minus" sign (-) */
}

@media screen and (max-width: 797px) {
  .accordion-body {
    width: 100%;
    margin-left: 0px;
  }

  .panel {
    width: 100%;
    margin-left: 0px;
    line-height: 24px;
  }
}
.box-icon {
  width: 100%;
  height: 160px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 8.2rem;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon h3 {
  position: relative;
  width: 16.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  height: 3.8rem;
}

.footer-box {
  height: 45.8rem;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  background-color: #ffffff;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  position: relative;
}
.box h3 {
  font-weight: 700;
}
.box .send {
  position: absolute;
  text-transform: uppercase;
  left: 0px;
  font-size: 1.6rem;
  width: 12rem;
  height: 4.8rem;
  background-color: #9d9d9d;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  margin-left: 51.2rem;
  margin-top: 4.7rem;
  border: 0px;
}
.box input {
  width: 31.7rem;
  border-color: #9d9d9d;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid;
  position: absolute;
  margin-top: 7.7rem;
}
.box form {
  position: absolute;
  margin-left: 18rem;
}
.box p {
  font-size: 1rem;
  width: 45.2rem;
  height: 4.8rem;
  color: #9d9d9d;
  text-justify: distribute;
  margin-left: 18rem;
  margin-top: 13.6rem;
  text-align: start;
}

.text-email {
  width: 44rem;
  font-size: 2.4rem;
  margin-left: 18rem;
  margin-top: 8.2rem;
  margin-bottom: 0px;
  text-align: start;
}

/************************************************SECOND BOX****************************************/
.help {
  list-style: none;
  text-align: left;
  align-self: center;
  font-size: 1.6rem;
  margin-top: 8.2rem;
  padding: 0px;
  margin-left: 10.8rem;
}
.help li {
  margin-top: 1.6rem;
  font-weight: 400;
  font-weight: 1.6rem;
}
.help li:first-child {
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
}
.help li a {
  text-decoration: none;
  color: black;
}
.help li a:hover {
  text-decoration: underline;
  color: black;
}

.icon-list {
  display: flex;
  gap: 1.7rem;
  margin-left: -3.8rem;
}

.cross {
  display: none;
}

/************************************************THIRD BOX****************************************/
.help--replace {
  list-style: none;
  text-align: left;
  align-self: center;
  font-size: 1.6rem;
  margin-top: 8.2rem;
  padding: 0px;
  margin-left: 10.8rem;
}

.help--replace li {
  margin-top: 1.6rem;
  font-weight: 400;
}

.help--replace li:first-child {
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
}

.help--replace li a {
  text-decoration: none;
  color: black;
}

.help--replace li a:hover {
  text-decoration: underline;
  color: black;
}

.icon-list--replace {
  display: flex;
  gap: 1.8rem;
  margin-left: -3.8rem;
}

.social {
  text-transform: uppercase;
  margin-left: 61rem;
  margin-right: 2.8rem;
  width: auto;
  display: inline-block;
  margin-bottom: 4.1rem;
}

.social h3 {
  display: inline;
  margin-right: 2.8rem;
  height: auto;
  font-size: 1.6rem;
  font-weight: 800;
  position: relative;
  bottom: 2.5px;
}

.social a {
  width: auto;
  text-decoration: none;
  margin: 0px;
  display: inline;
}

.social-icon {
  width: auto;
  display: inline-flex;
  gap: 3.1rem;
  align-items: center;
}

.bottom-bar {
  background-color: black;
  width: 100%;
  height: 4.8rem;
  display: inline-flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

/************************** Mobile ******************/
@media screen and (max-width: 797px) {
  .footer-box {
    grid-template-columns: 100%;
    grid-template-rows: 82.320442% 8.93854749% 8.93854749%;
    height: 53.7rem;
  }

  .box-icon {
    max-width: 1023px;
    width: 100%;
    overflow-x: scroll;
  }

  .send {
    width: 2.4rem;
    display: inline-block;
  }

  .text-email {
    margin-left: 2.8rem;
    margin-top: 4rem;
    width: 32.7rem;
  }

  .box .send {
    display: block;
    margin-top: 14.1rem;
    margin-left: 2.8rem;
  }

  .box form {
    margin-left: 2.8rem;
  }

  .box1 {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
  }

  .box p {
    font-size: 1rem;
    width: 32.7rem;
    height: 4.8rem;
    color: #9d9d9d;
    text-justify: distribute;
    margin-left: 2.8rem;
    margin-top: 17.2rem;
    text-align: start;
  }

  .help {
    margin-top: 0px;
    position: relative;
    left: 0px;
    margin-left: 0px;
    display: flex;
    align-items: center;
  }

  .help li {
    display: none;
  }

  .help li:first-child {
    display: inline;
  }

  .icon-list {
    margin-left: 2.6rem;
    display: flex;
  }

  .icon-list svg {
    margin-right: 1.6rem;
  }

  .cross {
    display: inline;
    position: absolute;
    right: 1.4rem;
    border: none;
    background-color: transparent;
  }

  .box2 {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid #bfbfbf;
  }

  .help--replace {
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
  }

  .help--replace li {
    display: none;
  }

  .help--replace li:first-child {
    display: inline-block;
  }

  .icon-list--replace {
    margin-left: 2.6rem;
    display: flex;
    gap: 1.8rem;
  }

  .icon-list--replace svg {
    margin-right: 1.6rem;
  }

  .social {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }

  .social h3 {
    padding-top: 2.4rem;
    display: inline;
    text-align: center;
    width: 100%;
  }

  .social a {
    width: auto;
    margin-right: 0rem;
  }

  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.1rem;
    border-bottom: #ffffff 9.1rem solid;
  }

  .social a:first-child {
    margin-left: 0rem;
  }

  .bottom-bar {
    width: 100%;
    height: 11rem;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .bottom-text1 {
    font-size: 1rem;
    color: #f5f5f5;
  }

  .bottom-text2, .bottom-text3,
.bottom-text4 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
